.inter-ok {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}


header {
    background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0), rgba(17, 17, 17, 1));
}

/* shared style */
.display-flex {
    display: flex;
}

.box-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;
}

.btn-red {
    font-size: 1.25rem;
    color: #FFFF;
    font-weight: 700;
    border-radius: 42px;
    padding: 16px 48px;
    background-color: #E6533C;
}

.bg-black{
    background-color: black;
    color: white;
}



section{
    margin-bottom: 100px;
}

/* navbar style */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 900;
}

.list-container {
    position: relative;
    display: flex;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 36px;
    padding: 4px;
}

.list-item {
    color: #FFFF;
    font-size: 1.125rem;
    font-weight: 600;
    list-style: none;
    padding: 8px 20px;
    position: relative;
    z-index: 1;
}

#span {
    position: absolute;
    width: 52px;
    height: 50%;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 8px 20px;
    transition: 0.5s;
}

/* just a little animetion */
.list-item:nth-child(1):hover~#span {
    left: 0;
}

.list-item:nth-child(2):hover~#span {
    left: 150px;
    width: 50px;
}

.list-item:nth-child(3):hover~#span {
    left: 305px;
    width: 55px;
}

.list-item:nth-child(4):hover~#span {
    left: 450px;
    width: 52px;
}

#nav-icon {
    display: none;
}

/* Banner section style */
.banner-container {
    margin: 30px 150px;
    gap: 167px;
    padding: 0px 20px;
}

.banner-text {
    flex-direction: column;
    gap: 28px;
    line-height: 4.5rem;
}

.banner-title {
    font-size: 4.90rem;
    color: #FFFF;
    margin-bottom: 0px;
}

.banner-btn {
    gap: 14px;
}

.btn-basic {
    font-size: 1.25rem;
    color: #FFFF;
    font-weight: 700;
    border-radius: 42px;
    padding: 16px 48px;
    background-color: #1111;
    border: 1px solid #FFFF;
}

#font {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}

.banner-box1 {
    max-width: 190px;
    margin-top: 100px;
    margin-left: 200px;
    padding: 10px 40px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
}

.banner-box2 {
    max-width: 190px;
    margin-top: -150px;
    margin-left: -100px;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
}

.box1-title {
    font-size: 2.5rem;
    color: #FFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box2-title {
    font-size: 1.5rem;
    color: #FFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box-1 {
    font-size: 0.75rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box-2 {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.empty {
    background-color: #E6533C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.empty i{
    display: none;
}

/* habit section */
.habits{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

.habit-text{
    flex-direction: column;
    text-align: center;
    gap: 14px;
}

.section-description{
    font-size: 0.875rem;
    margin: 0px;
}

.section-title{
    font-size: 3rem;
    font-weight: 800;
    margin: 0px;
}

.habit-image{
    margin: 0px 190px;
}

.habit-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-story{
    border-radius: 50%;
    margin-bottom: 30px;
}

.image-title{
    margin: 0px;
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-weight: 600;
}

.image-description{
    margin: 0px;
    font-size: 0.875rem;
    text-align: center;
    line-height: 20px;
}

/* Offer section */
.offers{
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.eq{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 5px solid gray;
}

.offer-box{
    flex-direction: column;
    height: 500px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.offer-text{
    margin: 20px 0px 0px 0px;
    font-size: 1.5rem;
    font-weight: 900;
    /* color: rgba(255, 255, 255, 0.5); */
}
.prime{
    color: #E6533C;
}
.prize{
    margin: 10px 0px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #E6533C;
}

.offer-box:hover{
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.60);
    color: #E6533C;
    transition: .5s;
}

.box-1:hover{
    border-radius: 16px;
    transition: .5s;
    background-color: #E6533C;
}

.box-1:hover .text-off{
    color: white;
    transition: .5s;
}

/* Work section */
.work{
    justify-content: center;
    align-items: center;
}
.work_container{
    border-radius: 18px;
    justify-content: space-between;
    margin: 100px 190px;
    background-color: rgb(52 52 52 / 60%);
    box-shadow: rgb(52 52 52 / 60%) 0px 0px 0px 20px;
}
.work_child{
    width: 50%;
}
.work-text{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
}

.btn-work{
    width: 100%;
    margin: 40px 0px;
    display: flex;
    justify-content: flex-start;
}

.work-image{
    border-radius: 18px;
    width: 366px;
    height: 312px;    
    justify-content: end;
    align-items: center;
}

.work-image > img{
    border-radius: 18px;
    width: 366px;
    height: 312px;
    object-fit: none;
    object-position: 66% 33%;
    margin: 10px 10px 0px 10px;
}

.run-description{
    line-height: 20px;
    margin-top: 14px;
}

/* BMI Calc Section */
.dark-container{
    background-color: rgba(34, 34, 34, 1);
}

.blank_form{
    margin: 50px 190px;
    display: flex;
}

.dark-text{
    margin: 85px 385px;
    align-items: flex-start;
}

.bmi-chart{
    /* width: 45%; */
}

.table-title{
    font-size: 1.25rem;
    font-weight: bold;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

th{
    padding: 14px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

td{
    padding: 13px 24px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}

.form-container{
    padding: 0px 100px;
}
.form-title{
    font-size: 1.25rem;
    font-weight: bold;
}


form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.125rem 0;
}

#dropdown{
    width: 197%;
}
input, select {
    background-color: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.3rem;
    font-size: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.37rem;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.60);
}



/* team section */
.teams{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
}


.teams-text{
    flex-direction: column;
    text-align: center;
    gap: 14px;
}

.teams-item{
    width: 325px;
    height: 272px;
    border-radius: 18px;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    gap: 2px;
}

.teams-image{
    display: grid;
    background-color: rgb(52 52 52 / 60%);
    grid-template-columns: repeat(3, 1fr);
    box-shadow: rgb(52 52 52 / 60%) 0px 0px 0px 20px;
    gap: 20px;
}

#bg-img-1{
    background-image: url(../images/trainer1.png);
}
#bg-img-2{
    background-image: url(../images/trainer2.png);
}
#bg-img-3{
    background-image: url(../images/trainer3.png);
}
#bg-img-4{
    background-image: url(../images/trainer4.png);
}
#bg-img-5{
    background-image: url(../images/trainer5.png);
}
#bg-img-6{
    background-image: url(../images/trainer6.png);
}

.teams-img-title{
    font-size: 1.25rem;
    margin: 0px;
    margin-left: 19px;
}

#job{
    text-align: start;
    margin-left: 19px;
    margin-bottom: 15px;
}

/* footer style */
footer{
    background-color: rgb(52 52 52 / 60%);
}

.gym-start{
    margin: 60px 190px 60px 190px;
    width: 50%;
}

#gym-name{
    margin: 0px;
    font-size: 4.375rem;
}

#lists-item{
    margin-left: 0px;
    display: flex;
    gap: 85px;
    justify-content: space-between;
}

.start-list{
    list-style: none;
}

.list-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 39px;
}

.list-name{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    font-size: 1.437rem;
}

.start-copy{
    margin: 60px 190px 60px 190px;    
}

.copyright{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 35px;
    margin: 0px;
}

/* Mobile responsive style */
@media screen and (max-width: 576px) {

    body{
        margin: 0px;
        padding: 0px;
    }

    /* navbar section */
    .nav-bar {
        justify-content: space-between;
        padding: 0px 20px;
    }

    .list-container {
        display: none;
    }

    #nav-icon {
        display: inline;
        color: #FFFF;
    }

    /* banner section */
    .banner-container {
        flex-direction: column;
        margin: 0px 0px;
        gap: 0px;
        padding: 0px 20px;
    }

    .banner-text{
        max-width: 352px;
    }

    .btn-response{
        max-height: 55px;
        max-width: 50%;
        margin: 0px;
        padding: 16px 20px;
        font-size: 1rem;
        font-weight: 600;
    }

    .banner-box1{
        margin-top: 50px;
        width: 145px;
        height: 75px;
        padding: 15px 5px;
        margin-left: 185px;
    }
    .banner-box2{
        margin-top: -330px;
        margin-left: 0px;
    }

    .empty{
        justify-content: center;
        align-items: center;
        color: #FFFF;
    }

    .empty i{
        display: inline;
    }

    /* habit section */
    .habit-image{
        flex-direction: column;
    }

    .habit-item{
        margin-bottom: 40px;
    }

    /* offer section */
    .offers{
        flex-direction: column;
    }

    /* Work section */
    .work{
        margin: 20px;
    }
    .work_container{
        flex-direction: column;
        margin: 60px 60px;
        justify-content: center;
        align-items: center;
    }
    .work-text{
        width: 100%;
        margin: 20px;
    }
    .work-image{
        justify-content: center;
        align-items: center;
    }
    .work-image{
        width: 350px;
        height: 200px;
    }
    .work-image > img{
        border-radius: 18px;
        width: 350px;
        height: 200px;
        object-fit: cover;
        object-position: 0%;
        margin: 0px;
    }
    .run-description{
        margin-bottom: 20px;
    }
    .btn-work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        margin: 0px;
    }
    .btn-response-work{
        max-height: 55px;
        max-width: 100%;
        margin: 0px;
        padding: 16px 20px;
        font-size: 1rem;
        font-weight: 600;
    }
    
    /* bmi setion */
    .blank_form{
        flex-direction: column;
        margin: 0;
    }

    .dark-container{
        padding: 10px;
    }


    form{
        gap: 0.75rem;
    }
    
    .form-container{
        padding: 0px;
        padding-right: 50px;
    }

    .bmi-text{
        margin: 0px;
        align-items: normal;
        margin-bottom: 10px;
    }

    input, select{
        max-width: 155px;
        background-color: rgba(255, 255, 255, 0.10);
        color: rgba(255, 255, 255, 0.60);
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        margin: 0.3rem;
        font-size: 1rem;
        letter-spacing: 0.8px;
        line-height: 1.37rem;    
    }

    .box-kg{
        max-width: 200px;
    }

    #dropdown{
        max-width: 400px;
    }

    .cal-btn{
        max-width: 50%;
        margin-bottom: 30px;
    }
    /* teams section */
    .teams-image{
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section */
    .start-copy, .gym-start{
        margin: 0px;    
    }

    .gym-info{
        flex-direction: column;
    }
    
    .gym-start{
        width: 100%;
        flex-direction: column;
    }

    #lists-item{
        gap: 20px;
    }

    .start-copy{
        margin: 0px 20px;
    }

    .gym-text{
        width: 80%;
        margin: 44px 20px;
    }
}